.flex {
   display: flex;
}
.jf-b {
   justify-content: space-between;
}
.jf-a {
   justify-content: space-around;
}
.jf-s {
   justify-content: flex-start;
}
.jf-e {
   justify-content: flex-end;
}
.jf-c {
   justify-content: center;
}

.center {
   margin: 0 auto;
}
.right {
   margin-right: auto;
}
.left {
   margin-left: auto;
}
.middle {
   align-items: center;
}

.w {
   &-100 {
      width: 100% !important;
   }
}
.mh-450 {
   @media (min-width: 992px) {
      min-height: 450px;
   }
}
